<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>

        <title>WS CEP</title>

        <!-- Meta Data -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails" />
        
        <!-- Link Reference -->
        <link href="static/css/pagestyle.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>

    </head>

    <body ng-controller="MainCtrl as ctrl">

        <header><h3>Web Service AngulaJS Brazilian Postal Code (CEP)</h3></header>
        
        <font color="#0064A6">
        <div class="container" style="margin-top: 85px;">
            <strong>Postal Code</strong>&nbsp;&nbsp;<br>
            <input class="col-xs-2" class="form-control" value="" type="text" ng-model="ctrl.usr.cep" ng-blur="BuscarCEP()" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" ng-click="ctrl.Teste()">Search</button>
        </div>
        <br>
        
        <div class="container">

            <div class="Result">

                
                <table class="table table-hover table-bordered">
                    <tr><td><strong>Street</strong></td></tr>
                    <tr><td>{{ctrl.usr.logradouro}}</td></tr>
                    <tr><td><strong>District</strong></td></tr>
                    <tr><td>{{ctrl.usr.bairro}}</td></tr>
                    <tr><td><strong>City</strong></tr>
                    <tr><td>{{ctrl.usr.localidade}}</td></tr>
                    <tr><td><strong>State</strong></td></tr>
                    <tr><td>{{ctrl.usr.uf}}</td></tr>
                    <tr><td><strong>IBGE</strong></td></tr>
                    <tr><td>{{ctrl.usr.ibge}}</td></tr>
                    <tr><td><strong>GIA</strong></td></tr>
                    <tr><td>{{ctrl.usr.gia}}</td></tr>
                </table>

            </div>

        </div>
        </font>

        <script type="text/javascript" src="static/js/angular.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>

        <footer>&copy; 2020 - Jose Teotonio - teonett@gmail.com</footer>

    </body>
</html>
